.headerLink {
  display: inline-block;
  /* text-decoration: none; */
  /* padding: 12px; */
  font-weight: 700;
    text-decoration: none;
      text-underline-offset: 5px;
}

.headerLink:hover{
    text-decoration: underline solid white;
    text-underline-offset: 5px;
}

.headerNav{
  display: flex;
  gap: 15px
  ;
}