/* .phoneContainer{
    background-color: lightsteelblue;
    max-width: 560px;
    max-height: 660px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #010101;
    border-radius: 20px;
    padding: 30px 40px 35px 40px;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
} */

.title{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 0px 2px 3px #666,
    1px 1px 1px silver,
        -1px 1px 1px silver;   
       
}



.contactsTitleWrap{
display: flex;

width: 130px;

}
.contactsTitle{
    text-align: center;
}

